In [1]:
# # new project to be done
# contact
# number 4
# add contact 
# update name and number 
# delete contact axis = 0

In [2]:
import numpy as np
import pandas as pd
di = [{'Name': "Akshat",'Number':'1','Number1':'2','Number2':'3','Email':'abc@123','NicName':'akku'}]
contact_data = pd.DataFrame(di)

In [3]:
def add_details():
    print("Add Details")
    a = input("Name:").title()
    b = input("Number: ")
    
    
    print('''Want more number press Y/N''')
    want_num = input().title()
    if want_num == 'Y':
        c = input("Number1: ")
    else:
        c = np.nan
    
    print('''Want more number press Y/N''')
    want_num1 = input().title()
    if want_num1 == 'Y':
        d = input("Number2: ")
    else:
        d = np.nan
    
    e = input("Email: ").title()
    f = input("Nicname: ").title()
    dic = dict(zip(contact_data.columns,[a,b,c,d,e,f]))
    contact_data.loc[len(contact_data)] = [a,b,c,d,e,f]

In [4]:
add_details()

Add Details
Name:devu
Number: 12345
Want more number press Y/N
n
Want more number press Y/N
n
Email: devu@12
Nicname: dev

In [5]:
contact_data

     Name Number Number1 Number2    Email NicName
0  Akshat      1       2       3  abc@123    akku
1    Devu  12345     NaN     NaN  Devu@12     Dev

In [6]:
def search_data():
 
    print('''Search on the basis of
            Name Press 1
            Number Press 2
            Email Press 3
            NicName Press 4''')
    num = int(input("Option: "))
    if num == 1:
        name1 = input("\nName: ").title()
        print("\n")
        print(contact_data[contact_data.Name == name1 ])
    elif num == 2:
        name1 = input("\nNumber: ").title()
        print("\n")
        print(contact_data[contact_data.Number == name1 ])
    elif num == 3:
        name1 = input("\nEmail: ").title()
        print("\n")
        print(contact_data[contact_data.Email == name1 ])
    elif num == 4:
        name1 = input("\nNicName: ").title()
        print("\n")
        print(contact_data[contact_data.NicName == name1 ]) 
    else:
        print('''Invalid input......
                 Please try Again.... ''')

In [ ]:
search_data()

Search on the basis of
                Name Press 1
                Number Press 2
                Email Press 3
                NicName Press 4
Option: 4

NicName: d


Empty DataFrame
Columns: [Name, Number, Number1, Number2, Email, NicName]
Index: []
Search on the basis of
                Name Press 1
                Number Press 2
                Email Press 3
                NicName Press 4
Option: 4

NicName: de


Empty DataFrame
Columns: [Name, Number, Number1, Number2, Email, NicName]
Index: []
Search on the basis of
                Name Press 1
                Number Press 2
                Email Press 3
                NicName Press 4
Option: 4

NicName: d


Empty DataFrame
Columns: [Name, Number, Number1, Number2, Email, NicName]
Index: []
Search on the basis of
                Name Press 1
                Number Press 2
                Email Press 3
                NicName Press 4
Option: 4

NicName: d'


Empty DataFrame
Columns: [Name, Number, Number1, Number2, Email, NicName]
Index: []
Search on the basis of
                Name Press 1
                Number Press 2
                Email Press 3
                NicName Press 4